body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d1117;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.day {
  width: 80px;
  height: 80px;
  margin: 20px auto;
  background: #39d353;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #0d1117;
  font-weight: bold;
}

#date {
  color: #8b949e;
}
